<div class="container">

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center" id="alert">{{alert}}</div>
        <div class="col-md-12 d-flex justify-content-center"><h2>EVENT: {{event}}</h2></div>

        <div class="col-md-12 d-flex justify-content-center"><h3>COUNTDOWN TO: {{eventDate}}</h3></div>

        <div class="col-md-2 d-flex justify-content-center"><h4>{{months}} MONTHS</h4></div>
        <div class="col-md-2 d-flex justify-content-center"><h4>{{weeks}} WEEKS</h4></div>
        <div class="col-md-2 d-flex justify-content-center"><h4>{{days}} DAYS</h4></div>
        <div class="col-md-2 d-flex justify-content-center"><h4>{{hours}} HOURS</h4></div>
        <div class="col-md-2 d-flex justify-content-center"><h4>{{mins}} MINS</h4></div>
        <div class="col-md-2 d-flex justify-content-center"><h4>{{secs}} SECS</h4></div>
    </div>

    <div class="row">
        <!-- Date Input starts -->
        <div class="col-md-3 d-flex justify-content-center">Event:
            <input type="text" [(ngModel)]="event" placeholder="Birthday" size="10">
        </div>

        <div class="col-md-3 d-flex justify-content-center">Month:
            <input #inputMonth type="text" placeholder="January" size="10">
        </div>

        <div class="col-md-3 d-flex justify-content-center">Day:
            <input #inputDay type="text" placeholder="1" size="10">
        </div>

        <div class="col-md-3 d-flex justify-content-center">Year:
            <input #inputYear type="text" placeholder="2025" size="10">
        </div>

        <!-- Button -->
        <div class="col-md-12 d-flex justify-content-center">
            <button id="countdown-button" (click)="countDownTo(inputMonth.value, inputDay.value, inputYear.value)">
            Countdown</button>
        </div>
        
        <!-- Date Input ends -->
    </div>
</div>