<div class="parent-container">
  <div class="child-container">
    <h2><b>Search for your recipe!!
    </b></h2><br>
    <form>
      <div class="form-group">
        <div class="form-group col-lg-6 col-lg-offset-3 input-group">
          <input #recipe class="form-control" placeholder="Recipe name" type="text"> <!-- get inputs-->
          <span class="input-group-addon">-</span>
          <input #place class="form-control" placeholder="Place" type="text"> <!-- get inputs-->
          <span class="input-group-addon">-</span>

        </div>
        <br>
        <button (click)="getVenues()" class="btn btn primary col-lg-2 col-lg-offset-5 " type="button">Go</button> <!-- call function w/ inputs-->

      </div>
    </form>
  </div>
</div><br><br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>How to make</b></div>
        <div class="panel-body">
          <div *ngFor="let recipe of recipeList" class="list-group-item clearfix"> <!-- this is where you use recipieList-->
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
              <a href="{{recipe.url}}" class="list-group-item-text">{{ recipe.url }}</a>
              <h6 class="list-group-item-heading" style="color:orange;">{{ recipe.calories }} kcal</h6> <!-- adding calories from API-->
              <h6 class="list-group-item-heading" style="color:orangered;">{{ recipe.yield}} servings</h6> <!-- adding yield from API-->
            </div>

            <span class="pull-right">
          <img src="{{recipe.icon}}" style="width: 70px; height: 50px;" align="center"/>

      </span>

          </div>

        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default col-6">
        <div class="panel-heading"><b>Where to get</b></div>
        <div class="panel-body">

          <div *ngFor="let venue of venueList" class="list-group-item clearfix"> <!-- this is where you use venueList-->
            <div class="pull-left">
              <h4 class="list-group-item-heading">{{ venue.name }}</h4>
              <h6 class="list-group-item-heading" style="color:lightseagreen;">{{venue.loc[0]}}</h6> <!-- adding addr from API-->
              <h6 class="list-group-item-heading" style="color:lightseagreen;">{{venue.loc[1]}}</h6> <!-- adding addr from API-->
              <h6 class="list-group-item-heading" style="color:lightseagreen;">{{venue.loc[2]}}</h6> <!-- adding addr from API-->
            </div>

            <span class="pull-right">
             <a href="http://maps.google.com/maps?saddr={{currentLat}},{{currentLong}}
             &daddr={{venue.loc[0]}},{{venue.loc[1]}},{{venue.loc[2]}}"> <!-- changed the location.formattedAddress to loc-->
               <img src="../../assets/google.png" style="width: 30px; height: 30px;"></a>
      </span>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>



